body {
    background-color: #181A1B;
    color: #EEE;
    font-family: 'Montserrat', sans-serif;
}

a:visited, a:focus {
    text-decoration:none;
    color: #EEE;
}

/* Margins */
.mt-0  { margin-top: 0; }
.mb-0  { margin-bottom: 0; }
.mb-10 { margin-bottom: 10px; }

.display-block { display: block; }
.display-none { display: none; }

/* Typography */

p {
    font-size: 16px;
}

/* Home */

.grid {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #222 1px, transparent 1px),
        linear-gradient(to bottom, #222 1px, transparent 1px);
}

#home {
    height: 101vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-item {
    margin-top: -20px;
}

.proceed-button {
    padding: 10px;
    margin-top: 20px;
    background-color: #43a047;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    color: #c6f3c8;
    text-decoration: none;
}

.proceed-button:hover {
    color: #c6f3c8;
    background-color: #2c662f;
    text-decoration: none;
    transition: 0.3s;
}

.proceed-icon {
    border-radius: 50%;
    text-decoration: none;
    color: #c6f3c8;
    /* background-color: #317034; */
    /* box-shadow: 0 0 3px 1px black inset; */
}

@media only screen and (max-width: 600px) {
    .home .title {
        font-size: 26px;
    }
    .home .subtitle {
        font-size: 20px;
    }
}

/* Navbar */

.desktop-nav {
    display: block;
    border-bottom: 2px solid #317034;
}

.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    background-color: rgb(15, 16, 17);
    padding: 10px 20px;
    position: relative;
    z-index: 100;
}

.navigation .menu {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #EEE;
}

.navigation .menu:hover {
    color: #43a047;
}

.section-header {
    text-align: center;
    padding: 30px 0;;
    margin: 0 0 50px;
}

@media screen and (min-width: 600px) {
  .mobile-nav {
    display: none;
  }
  /* Sticky navbar */
  .desktop-nav.fixed {
      display: block;
      position: fixed;
      top: 0;
      width: 100%;
  }
}

@media only screen and (max-width: 600px) {
    .desktop-nav {
        position: fixed;
        top: 78px;
        flex-direction: column;
        height: calc(100vh - 78px);
    }
    .desktop-nav .menu {
        height: 20vh;
    }
    .display-sm-none {
        display: none;
    }
    /* Sticky navbar */
    .mobile-nav.fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

/* About */

.about {
    padding: 150px 0 250px;
    background-color: #0D1214;;
}

.about-item {
    text-align: center;
    padding: 50px 0;;
}

.about-item i {
    font-size: 40px;
    margin-bottom: 30px;
}

.compensate-fixed-nav {
    margin-top: 62px;
}

@media only screen and (max-width: 600px) {
    .about-item {
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }
    .about-item i {
        margin: 0;
        font-size: 30px;
    }
    .about-item h3 {
        margin: 5px 0 0 10px;
        font-size: 20px;
    }
    .compensate-fixed-nav {
        margin-top: 78px;
    }
}


/* Projects */

.projects {
    padding-bottom: 100px;
}

.project-item {
    padding: 50px 0 10px;
    margin: 100px 0;
    background-color: #35383B;
    box-shadow: 0 0 10px black;
}

.project-title {
    color: #0091c5;
}

.projects-header {
    box-shadow: -10px -5px 15px black;
    background-color: rgb(15, 16, 17);
    border-bottom: 2px solid #317034;
}

.project-img {
    text-align: center;
}

.project-img img {
    box-shadow: 0 0 10px 0 black;
}

@media only screen and (max-width: 600px) {
    .project-img img {
      width: 100%;
    }
}

.logos {
    width: 100%;
    display: flex;
    margin: 30px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.project-logo {
    height: 40px;
    margin: 20px 10px;
}

/* Footer */

.footer {
    text-align: center;
    margin: 0;
    box-shadow: 0 -3px 10px 0 black;
    background-color: rgb(15, 16, 17);
    border-bottom: 2px solid #317034;
}

.footer .text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.github-link {
    color: #EEE;
}

.github-link:hover {
    color: #AAA;
}

@media only screen and (max-width: 768px) {
    .footer .text {
        font-size: 14px;
    }
}